
<nav class="navbar navbar-inverse top-border-color">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
      <li><i class="fa fa-arrow-circle-o-left" style="font-size:36px"></i></li>
    </ul> -->
    <div class="row font-color " >
      
      <div class="col-xs-2 margin-header1">
        <span class="theme"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></span>
        BACK TO DETAILS PAGE</div>
      <div class="col-xs-2 margin-header2">
        <div class="row theme">THEME <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
        <div class="row san-deego">San Diego</div>
        
      </div>
      <div class="col-xs-2">
        <div class="row">
          <div class="col-xs-2 square ">
            <div class="small-square icon-color">
              <i class="fa fa-sort-desc icon-margin " aria-hidden="true"></i>
           </div>
          </div>
          <div class="col-xs-6 color-margin">
              <div class="row theme">COLOR <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
              <div class="row san-deego">Blue</div>
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="row">
          <div class="col-xs-3 device-list"><i class="fa fa-desktop" aria-hidden="true"></i></div>
          <div class="col-xs-3 tab"><i class="fa fa-tablet" aria-hidden="true"></i></div>
          <div class="col-xs-3 mob"><i class="fa fa-mobile" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="row">
          <div class="col-xs-2 phone"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
          <div class="col-xs-6 call-us">
            <div class="row">
              Call us:
            </div>
            <div class="row ">
                800-908-2483
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>