.font-color{
    color: white;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.margin-header1{
    margin-left: 80px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}
.margin-header2{
    margin-left: 20px;
    margin-top: 7px;
}
.theme{
    color: #00a2f5;
}
.san-deego{
    font-size: 12px;
}
.square{
    height: 34px;
    width: 34px;
    border: 2px solid white;
    background-color:#6fcbf0;
    margin-top: 7px;
    
    
}
.small-square{
    height: 15px;
    width: 15px;
    // border: 2px solid white;
    border-top: 2px;
    border-left: 2px;
    border-style: solid;
   border-left-color: white;
   border-top-color: white;
    margin-top: 17px;
    margin-left: 2px;
    background-color: #00a2f5;
}


.icon-color{
    color: white;
    font-size: 7px;
}
.icon-margin{
    margin-left: 2px;
}
.color-margin{
    margin-top: 7px;
    margin-left: 6px;
}
.device-list{
    font-size: 24px;
    margin-top: 10px;
}
.tab{
    font-size: 28px;
    margin-top: 8px;
}
.mob{
    font-size: 28px;
    margin-top: 6px;
}
.phone{
    font-size: 24px;
    color: #2c6770;
    margin-top: 7px;
}
.call-us{
    margin-top: 7px;
    margin-left: 4px;
}
.top-border-color{
    border-top-color: #00a2f5;
    border-top-width: 2px;
}