.navbar1{
    // height:85px;
    background-color:#0b7e7ec7;
    margin-top: -22px;
}
 a{
    color: white;
}
.font{
    font-size: 13px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.bottom-border-color{
    border-bottom-color: #00a2f5;
    border-bottom-width: 2px;
    
}
.slider1{
    height: 720px;
    width: 1100px;
}

.image-con-border{
    border-left: 2px solid #00a2f5;
}
.logo{
    margin-top:-470px;
    margin-left: 40px;
}
.logo-text{
    margin-top:-470px;
    margin-left: 125px;
    color: white;
}
.border-rad{
    border-radius: 50%;
}
.main-logo-text{
    font-size: 16px;
    font-weight: bold;
    font-family: asap-bold, "Arial Black", "Arial Bold", Gadget, sans-serif;
}
.social-icon{
    
    color: #00a2f5;
    margin-top:-470px;
    margin-left: 850px;

}
.num{
    margin-left: 970px;
    margin-top:-470px;
    color: white;
    font-weight: bold;
    font-family: asap-bold, "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 16px;
}
// img{
//     filter: blur(5px);
// }
