<div class="row  ">
  <div class="col-xs-12 bg background" >
      
    <!-- <img src="../assets/bg.jpg" height="400px;" class="bg-img" > -->
    <!-- <input type="text" class="box"> -->
    
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-5">
        <h5 class="heading" >Exclusive Offer</h5>
        <h6 class="sub">Sign up to receive special offers and discounts</h6>
        <div class="form-group">
         
          <input type="text" class="form-control box" id="usr" placeholder="Enter requirement" >
          <input type="text" class="form-control box1" id="usr" placeholder="Enter Email" >
          <input type="text" class="form-control box1" id="usr" placeholder="Enter Mobile number" >
        </div>
        <h6 class="sub">Please do not submit any Protected Health Information .</h6>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
    
    
    

    
  </div>

  <!-- <div class="row">
    <div class="col-xs-12" class="slider">
      <app-testimonial></app-testimonial>
    </div>
  </div> -->
  <!-- <app-testimonial></app-testimonial> -->

