<div class="row">
  <div class="col-xs-12">
    <div class="row featured" >
      <div class="col-xs-12">
        <h4 class="main-heading">Featured Service</h4>
        <h6 class="sub-heading">Click to find out more</h6>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row img-galery">
  <div class="col-xs-3 ">1</div>
  <div class="col-xs-3">2</div>
  <div class="col-xs-3">3</div>
  <div class="col-xs-3">4</div>
</div> -->

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10 galarry-shadow">
      <div class="row img-galery">

          <div class="col-xs-3  col-width "   >
            <div class="row gallary-size colour " >
              <div class="col-xs-12 " id="one"  >
                <div class="row row-galerry">General Dentisty</div>
                <div class="row animation">
                  <div class="col-xs-12">
                    Regular dental visits are essential 
                  to make sure oral health problems 
                  from tooth decay to 
                  </div>
                </div>
                <div class="row learn">LEARN MORE</div>
              </div>
            </div>
            <div class="row gallary-size"   >
              
              
              <img src="../assets/g.jpg" height="238px;" width="100%;" >
            
              
            </div>
          </div>

          <div class="col-xs-3 col-width ">
              <div class="row gallary-size  ">
                  <img src="../assets/g1.jpg" height="238px;" width="100%;">
                </div>
                <div class="row gallary-size colour">
                    <div class="col-xs-12" id="one">
                      <div class="row row-galerry">Dental Implants</div>
                      <div class="row animation">
                          <div class="col-xs-12">
                            Regular dental visits are essential 
                          to make sure oral health problems 
                          from tooth decay to 
                          </div>
                        </div>
                      <div class="row learn">LEARN MORE</div>
                    </div>
                  </div>
          </div>
          <div class="col-xs-3 col-width ">
              <div class="row gallary-size colour">
                <div class="col-xs-12" id="one">
                  <div class="row row-galerry">Teeth Whitening</div>
                  <div class="row animation">
                      <div class="col-xs-12">
                        Regular dental visits are essential 
                      to make sure oral health problems 
                      from tooth decay to 
                      </div>
                    </div>
                  <div class="row learn">LEARN MORE</div>
                </div>
              </div>
              <div class="row gallary-size  ">
                <img src="../assets/g3.jpg" height="238px;" width="100%;">
              </div>
            </div>
            <div class="col-xs-3 col-width">
                <div class="row gallary-size  ">
                    <img src="../assets/g.jpg" height="238px;" width="100%;">
                  </div>
                  <div class="row gallary-size colour">
                      <div class="col-xs-12" id="one">
                        <div class="row row-galerry">General Dentisty</div>
                        <div class="row animation">
                            <div class="col-xs-12">
                              Regular dental visits are essential 
                            to make sure oral health problems 
                            from tooth decay to 
                            </div>
                          </div>
                        <div class="row learn">LEARN MORE</div>
                      </div>
                    </div>
            </div>
        </div>
  </div>
</div>

<div class="card card-size ">
 

<div class="row">
  <div class="col-xs-12 info-text" >
    <h5 class="heding">Welcome to Our Practice</h5>
    <h6 class="sub">Welcome to Sunny Smiles Dental, Your Dentist in Downers Grove, IL</h6>
    <div class="row ">
      <div class="col-xs-8 info-left">
          Welcome! The dental professionals at Sunny Smiles Dental are pleased to 
          welcome you to our practice. We want all our patients to be informed decision 
          makers and fully understand any health issues you face. That's why we've 
          developed a web site loaded with valuable information about dental and dental
           problems and treatments.
           We encourage you to visit this site whenever you have concern about your teeth.
      </div>
      <div class="col-xs-8 info-left para">
          Our web site also provides you with background about our, 
          staff, office hours, insurance policies, appointment procedures, 
          maps, directions to our office in and other useful information. We know how 
          hectic life can be and are committed to making our practice
           convenient and accessible. And we want you to feel confident that 
           when you choose , you're working with doctors and other professionals 
           who are qualified, experienced and caring.
      </div>
      <div class="col-xs-8 info-left para">
          Please take a few moments to look through this site to get a
           better feel for Sunny Smiles Dental's capabilities and services. 
           We also invite you to <a>email</a> or call our office 
          at any time to <a>request an appointment</a> or ask any questions. Thank you.
      </div>
      
      
    
 
</div>

</div>
</div>


